:root {
  --tab-border-width: 0.6rem;
}

::placeholder {
  color: rgba(255,255,255, 0.6);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight:300;
  margin: 0;
  background-color: #eff0f4;
  text-align: justify;
}

hr {
  border: 0;

  width: 10%;
  margin: 20rem 45%;
  background-color: transparent;

  border-bottom-width: 0.7rem;
  border-bottom-style: dotted;
  border-bottom-color: #0074e4;
}

p {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  height: 16.666vh;

  margin-right: 35rem;

  align-items: center;
  justify-content: center;

  border-width: var(--tab-border-width);
  border-color: #05072c;
  border-style: solid;

  border-left-width: 0;
  border-right-width: 0;

  background-color: #d7d8dc;
}

a {
  margin: 0;
}

.icon{
 margin-left: 10px;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 35rem;
  top: 0;
  right: 0;
  padding: 0;
}

.tab-background {
  position: relative;
  height: 33.33vh;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  border-width: var(--tab-border-width);
  border-color: #05072c;
  border-style: solid;

  transition: left 0.4s, background-color 0.4s;
  transition-timing-function: ease-in-out;
}

.tab-top {
  height: calc(100% + var(--tab-border-width) / 2);
  background-color: #74dbef;
  text-decoration: none;
}

.tab-middle {
  height: calc(100% + var(--tab-border-width));
  top: calc(-1 / 2 * var(--tab-border-width));
  background-color: #0074e4;
  text-decoration: none;
}

.tab-bottom {
  height: calc(100% + var(--tab-border-width) / 2);
  top: calc(-1 / 2 * var(--tab-border-width));
  background-color: #264e86;
  text-decoration: none;
}

.tab:hover {
  left: -2rem;
}

a.tab-top:hover {
  color: #ffffff;
  background-color: #34cae7;
}

a.tab-middle:hover {
  background-color: #005cb6;
  color: #ffffff;
}

a.tab-bottom:hover {
  background-color: #1e3e6b;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 38rem 0 5rem;
}

.container-small {
  display: flex;
  padding: 3rem 0;
  column-gap: 3rem;
}

.section {
  padding: 3rem 0;
}

.section-project {
  margin-bottom: 3rem;
}

.section-project-title {
margin-top: 0;
}

.section-project:nth-child(2n) .section-project-title {
  text-align: right;
}

.intro-top {
  position:relative;
  margin-top: 9rem;
}

.intro-bottom {
  position:relative;
  margin-top: 14rem;
}

.text-regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 4rem;
}

.text-large {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 6rem;
  text-decoration: 3px #0074e4 underline;
  text-underline-offset: 15px;
}

.personal-img {
  width: 20rem;
  margin: 0 3rem 3rem 0;
  border: 0.7rem #05072c solid;
  border-radius: 90%;
  background-color: #05072c;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.aboutme-column {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.aboutme-img {
  width: 20rem;
  margin-bottom: 3rem;
}

.section-project-img {
  display: flex;
  flex-direction: row;
  width: 15rem;
  margin-bottom: 20px;
}

.section-project:nth-child(even) .section-project-img {
  margin-right: 20px;
}

.section-project:nth-child(odd) .section-project-img {
  margin-left: 20px;
}

/* Contact section */
input, textarea {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;

  width:100%;

  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px #0074e4 solid;
  padding: 0.7rem;
}

input.is-invalid {
  border-bottom: 2px #ffce00 solid;
}

input:focus{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  border-bottom: 2px #ffffff solid;
}

#message-input {
  height: 12rem;
  border: 2px #0074e4 solid;
}

#message-input:focus {
  outline: 0;
  border: 2px #ffffff solid;
}

#submit-button {
  text-align: center;
  border: 2px #ffffff solid;
  width: 20%;
  height: 4rem;
  margin-bottom: 0;
}

#submit-button:active {
  color: #0074e4;
  border: 2px #0074e4 solid;
}

.section-contact {
  display:flex;
}

.contact-form-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 60%;

  background-color: #264e86;

  border-width: var(--tab-border-width);
  border-color: #05072c;
  border-style: solid;

  padding: 1.5rem;
}

.invalid-feedback {
  font-size: 1.2rem;
  text-align: left;
  color: #ffce00;
  padding: 3px;
}

.error-img {
  position:relative;
  top: 5px;
  margin-right: 3px;
  width: 1.2rem;
}

.hide {
  display: none;
}

.contact-form-headline {
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form-object {
  margin-bottom: 3rem;
}

.contact-img-background {
  display: flex;
  position: relative;
  height: 537px;
  width: 40%;
  align-items: center;
  justify-content: center;
}

#chatbot {
  position: absolute;
  top: 320px;
  width:200px;
  height:auto;
  z-index: 1;
  transition: top 1s cubic-bezier(.47,1.64,.41,.8);
}

.hole-img {
  position:absolute;
  height: 20px;
  width: 300px;
  background-color: #000000;
  border-radius: 50% / 100%;
  transition: width 0.2s linear, height 0.2s linear;
}

#top-half-hole-img {
  bottom: 217px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bottom-half-hole-img {
  top: 320px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 3;
}

#curtain-img {
  position:absolute;
  top: 320px;
  height: 210px;
  width: 300px;
  background-color:  #eff0f4;
  z-index: 2;
}

.greeting-img {
  position: absolute;
  left: 230px;
}

#hi-img {
  display: none;
  top:30px;
  width: 140px;
}

#thx-img {
  display: none;
  top:15px;
  width: 130px;
}

#success-message {
  display: none;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}

/* Footer */
a.link {
  color: #264e86;
}

a.link:active {
  color: #0074e4;
}

.icons-authors {
  font-size: 9px;
  margin-top: 5px;
}
