.body {
  background-color: #eff0f4;
}

.box {
  height: 100vh;
}

.box-main {
  padding-left: 5rem;
}

.box-side {
  padding: 0;
}

.intro {
  position:relative;
  margin-top: 13rem;
}

.intro-regular {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 4rem;
}

.intro-top-border {
  position:absolute;
  width: 42rem;
  border-bottom: 3px #0074e4 solid;
}

.intro-bottom-border {
  position:absolute;
  width: 56rem;
  border-bottom: 3px #0074e4 solid;
}

.intro-large {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 6rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 33.33vh;
  border-radius: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 2rem;
}

.tab:hover {
  color: red;
}

.tab-top {
  color: #000000;
  background-color: #74dbef;

}

.tab-middle {
  color: #ffffff;
  background-color: #0074e4;
}

.tab-bottom {
  color: #ffffff;
  background-color: #264e86;
}
