{% include "header.html" %}
{% extends "bootstrap/base.html" %}

{% block content %}
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-9 box box-main">
          <div class="intro">
            <div class="intro-regular">My name is</div>
            <div class="intro-large intro-large-top">Tomasz Puzio</div>
            <div class="intro-top-border"></div>
          </div>
          <div class="intro">
            <div class="intro-regular">I am an engineer aspiring to become</div>
            <div class="intro-large intro-large-bottom">Python Developer</div>
            <div class="intro-bottom-border"></div>
          </div>
        </div>
        <div class="col-3 box box-side">
            <div class="tab-background">
              <div class="tab tab-top">about me</div>
            </div>
            <div class="tab-background">
              <div class="tab tab-middle">projects</div>
            </div>
            <div class="tab-background">
              <div class="tab tab-bottom">contact</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
